<form (submit)="addEmployee()">
  <input [(ngModel)]="firstName" placeholder="First Name" name="firstName">
  <input [(ngModel)]="lastName" placeholder="Last Name" name="lastName">
  <input [(ngModel)]="position" placeholder="Position" name="position">
  <button type="submit">Add Employee</button>
</form>

<button (click)="getEmployees()">Show Employee List</button>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.position}}</td>
    </tr>
  </tbody>
</table>
